/* 하단 안내글 */
.detailBottom {
  width: 100%;
  height: 100px;
}
.detailexchange {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.btexchange {
  width: 45%;
  padding: 20px;
  font-size: 12px;
  color: rgb(94, 94, 94);
  border: gray 1px solid;
}

.btdeliver {
  width: 45%;
  padding: 20px;
  font-size: 12px;
  color: rgb(94, 94, 94);
  border: gray 1px solid;
  margin-left: 20px;
}

.btdeliver h3 {
  border-bottom: rgb(173, 173, 173) 1px solid;
  padding-left: 10px;
  padding-bottom: 10px;
}

.btexchange h3 {
  border-bottom: rgb(173, 173, 173) 1px solid;
  padding-left: 10px;
  padding-bottom: 10px;
}

.btdeliver p,
.btexchange p {
  padding: 10px;
}

.noticeText {
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 50px;
  color: white;
  background-color: #0b43f7;
}
.headerinlogo {
  padding-top: 10px;
}

/* 본문 css */
/* 메인 css 시작 */
.detailWrap {
  text-align: center;
}

.detailboxWrap {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: #989898 solid 1px;
}

.cart_menu {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  border-top: #989898 solid 1px;
  border-bottom: #989898 solid 1px;
}

.cart_top {
  padding-top: 50px;
}

.imgWrap {
  width: 10%;
  text-align: center;
}

.imgWrap img {
  width: 100%;
  aspect-ratio: 4/5;
  object-fit: cover;
  border-radius: 20px;
}

.cart_Box {
  min-height: 500px;
  max-width: 1280px;
  padding-left: 100px;
  padding-right: 100px;
}

/* 휴지통 버튼 css */
.fa-solid {
  font-size: 25px;
  color: #0b43f7;
  background-color: transparent;
}

button {
  border: none;
  background-color: transparent;
}

.cartout {
  cursor: pointer;
}

.cartbtn_wrap {
  text-align: center;
}

/* 메인 상품 박스들 */
.cart_divs {
  /* display: flex; */
  align-items: center;
  justify-content: space-between; /* 요소들 간의 간격 유지 */
  /* padding: 20px; */
}

.imgWrap,
.buttonWrap {
  width: 10%;
}

.productName {
  width: 40%;
}

.productPrice {
  width: 10%;
}
.productCount {
  width: 10%;

  text-align: center; /* 텍스트 가운데 정렬 */
}

.productName,
.productPrice,
.productdetail {
  flex-grow: 1;
  text-align: center; /* 텍스트 가운데 정렬 */
}

.quantity-input {
  width: 50%;
}

.buttonWrap {
  width: 10%;
  text-align: right;
}

/* 모바일 반응형 */
@media (max-width: 768px) {
  .cart_Box {
    padding-left: 40px;
    padding-right: 40px;
  }

  .fa-solid {
    font-size: 20px;
  }

  .cartout {
    font-size: 10px;
    padding: 10px;
    width: 0px;
    text-align: center;
  }

  .cart_wrap {
    font-size: 12px;
  }

  .btexchange,
  .btdeliver {
    width: 48%;
  }

  .priceBox {
    font-size: 15px;
  }

  .priceBoxbottom {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .cart_Box {
    padding-left: 0px;
    padding-right: 0px;
  }

  .cart_wrap {
    font-size: 8px;
  }
  .productName {
    font-size: 10px;
  }
  .productPrice {
    font-size: 9px;
    font-weight: bold;
  }
  .quantity-input {
    width: 70%;
  }
  .th_name {
    font-size: 9px;
  }

  .fa-solid {
    font-size: 15px;
  }

  .countBox {
    font-size: 9px;
  }

  .priceBox {
    font-size: 13px;
  }

  .priceBoxbottom {
    font-size: 9px;
  }

  .buynow {
    font-size: 10px;
    padding: 10px;
    width: 150px;
  }
}

.swal-title {
  font-size: 24px !important;
}

.swal-popup {
  font-size: 18px !important;
}
.cartOutOrderBtn {
  padding: 15px 30px;
  height: auto; /* 고정 높이 제거 */
  text-align: center; /* 텍스트 가로 중앙 정렬 */
  line-height: 50px; /* 텍스트 세로 중앙 정렬을 위해 line-height 설정 */
  margin-top: 50px;
}

.cartOutBtn,
.cartOrderBtn {
  width: 30%;
  height: 45px;
  display: block;
  text-align: center;
  line-height: 45px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.cartOutBtn {
  background-color: #0b43f7;
  color: white;
}
.cartOrderBtn {
  color: #0b43f7;
  background-color: white;
  border: solid 1px gray;
  margin-top: 20px;
}

/* 반응형 설정 */
@media screen and (max-width: 768px) {
  .cartOutOrderBtn {
    flex-direction: column;
    height: auto;
  }

  .cartOutBtn,
  .cartOrderBtn {
    width: 80%;
    height: 50px;
    font-size: 14px;
  }

  .cartOrderBtn {
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .cartOutBtn,
  .cartOrderBtn {
    width: 100%;
    font-size: 12px;
  }
}

/* 장바구니가 비어있습니다. */
.emptyWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.empty {
  width: 50%;
  max-width: 200px;
  height: auto;
  opacity: 0.8;
}

/* 장바구니 총금액 */
.cartAllCount {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  border-top: #000000 solid 2px;
  border-bottom: #000000 solid 1px;
  margin-top: 50px;
  padding-left: 10px;
  font-weight: bold;
}

.cartAllOrderPrice div {
  text-align: right;
}
.cartAllPrice {
  text-align: right;
}

.cartAllOrderPrice {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  border-top: #000000 solid 1px;
  border-bottom: #000000 solid 2px;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
}
