/* 기본 설정 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1280px;
  min-height: 100vh;
  overflow-x: hidden;
}
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration-line: none;
  color: inherit;
}
.allWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.shopContent {
  flex: 1;
}
.shopFooter {
  margin-top: auto;
}

/* 전체 스크롤바 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #0b43f7;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #0a37d2;
}

/* 본문 */
.kikicategory {
  display: flex;
  background-color: white;
  width: 100%;
  flex-wrap: wrap;
}

.category-item {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  padding: 10px 20px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  flex-grow: 1;
  box-sizing: border-box;
}

.kikicategory .category-item:last-child {
  border-right: 0;
}

.kikicategory .category-item {
  flex-basis: 16.66%;
}

@media (max-width: 748px) {
  .kikicategory .category-item {
    flex-basis: 33.33%;
  }
  .category-item {
    border-bottom: solid 1px black;
    border-top: none;
    border-right: solid 1px black;
  }
  .kikicategory .category-item:nth-child(3n) {
    border-right: 0;
  }
}

@media (max-width: 480px) {
  .kikicategory .category-item {
    flex-basis: 50%;
  }
  .category-item {
    border-bottom: solid 1px black;
    border-top: none;
    border-right: solid 1px black;
  }
  .kikicategory .category-item:nth-child(3n) {
    border-right: solid 1px black;
  }
  .kikicategory .category-item:nth-child(2n) {
    border-right: 0;
  }
}

/* 홍보 문구 흘러가는 효과 */
.eventTexts {
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #0b43f7;
  height: 50px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.eventInnerTexts {
  display: inline-block;
  color: white;
  animation: eventTextFlow 100s linear infinite;
  font-size: 18px;
  line-height: 50px;
}
@keyframes eventTextFlow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* 메인 중간 카테고리 4개 */
.categoryMenuWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
}

.categoryImg {
  width: 25%;
  box-sizing: border-box;
  text-align: center;
  padding: 25px 0;
  border-right: solid 1px black;
}

.categoryImg:hover {
  cursor: pointer;
}

.categorySize {
  font-size: 15px;
}

.categoryImg:last-child {
  border-right: none;
}

.categoryImg img {
  width: 65%;
  display: block;
  margin: 0 auto;
}

/* 상품 shop text */
.kikipopoShopText {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* 상품 CSS */
.productAll_Wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.productInfoBox {
  width: 25%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
}

.productInfoBox:nth-child(4n) {
  border-right: none; /* Remove the right border for the last item in each row */
}

.productInfoBox1,
.productInfoBox2 {
  width: 100%;
}

.productInfoBox2 {
  border-top: 1px solid black;
  font-weight: bold;
}

.productInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productImgWrap {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.productImgWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productTextWrap {
  text-align: left;
  margin: 10px 0px;
  width: 100%;
  padding-left: 10px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productTextWrap div {
  margin-bottom: 5px;
}

.productInfoBox2:hover {
  background-color: #0b43f7;
}

.paddingBottom {
  width: 100%;
  padding-bottom: 20px;
}

.gifImgDiv {
  width: 100%;
}

.imgsGif {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.productNameSize {
  font-size: 20px;
  padding-left: 10px;
}

.productPriceSize {
  font-size: 15px;
  padding-left: 10px;
}

/* 반응형 디자인 */
@media (max-width: 1200px) {
  .productInfoBox {
    width: 33.33%; /* 3개씩 가로로 배치 */
  }
}

@media (max-width: 768px) {
  .productInfoBox {
    width: 50%; /* 2개씩 가로로 배치 */
  }

  .productImgWrap {
    height: 250px; /* 이미지 높이를 줄여서 모바일 화면에 맞게 */
  }

  .productNameSize {
    font-size: 18px;
  }

  .productPriceSize {
    font-size: 14px;
  }

  .paddingBottom {
    padding-bottom: 100px;
  }
}

@media (max-width: 480px) {
  .productInfoBox {
    width: 100%; /* 1개씩 세로로 배치 */
  }

  .productImgWrap {
    height: 200px; /* 이미지 높이 더욱 줄이기 */
  }

  .productNameSize {
    font-size: 16px;
  }

  .productPriceSize {
    font-size: 12px;
  }

  .paddingBottom {
    padding-bottom: 50px;
  }
}

/* 캐러셀 글자 */
.kikipopoanimation {
  font-size: 100px;
  color: white;
  position: absolute;
  z-index: 10;
  bottom: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.kikipopoanimation.scrollDown {
  transform: translate(-50%, -80%);
  opacity: 0;
}

/* 글씨체 */
.titan-one-regular {
  font-family: "Titan One", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 768px) {
  .kikipopoanimation {
    font-size: 10vw;
    bottom: 20%;
  }
}

@media (max-width: 480px) {
  .kikipopoanimation {
    font-size: 12vw;
    bottom: 25%;
  }
}

/* 흘러가기 collection */
/* collection CSS */
.collectionBox {
  background-color: #ff3434;
  color: white;
  padding: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin: 0 auto; /* 화면 중앙에 배치 */
  height: 450px; /* 이미지 높이를 더 크게 설정 */
  text-align: center;
  padding-bottom: 100px;
}

.collectionBox > div:first-child {
  font-size: 2rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}

.collectionImgsBox {
  display: flex;
  width: calc(100% * 3); /* 3개의 이미지를 표시할 수 있도록 너비 계산 */
  animation: slide 50s infinite linear;
  height: 100%; /* 높이를 100%로 설정 */
  gap: 20px; /* 이미지 사이에 간격을 추가 */
}

.collectionImgsBox img {
  width: 100%; /* 각 이미지가 화면을 차지하도록 설정 */
  height: 100%;
  object-fit: cover;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -33.33%
    ); /* 한 번에 한 이미지만 슬라이드하도록 설정 */
  }
}

@media (max-width: 768px) {
  .collectionBox {
    height: 350px; /* 모바일에서도 더 큰 이미지 높이 */
  }

  .collectionImgsBox {
    height: 100%; /* 모바일에서도 전체 높이를 채우도록 설정 */
  }

  .collectionImgsBox img {
    width: 100%; /* 모바일에서도 한 이미지가 화면을 차지하도록 설정 */
  }
}

/* 하단 글자 */
.paddingBottom {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #f7f7f7;
}

.kikiText {
  font-weight: bold; /* 글자 진하게 */
  font-size: 12px; /* 폰트 크기 설정 */
}

/* cursor */
.category-item {
  cursor: pointer;
}

/* alert */
.swal-title {
  font-size: 24px !important;
}

.swal-popup {
  font-size: 18px !important;
}

/* 모달창 띄우기 */
/* .events_alert {
  z-index: 9999;
  width: 30%;
}
.blueBtn {
  background-color: blue;
  color: white;
}

.eventWrap {
  display: flex;
} */
/* 팝업 배경 */ /* 팝업 배경 */
.events_alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 배경 어둡게 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* 팝업 창 */
.eventWrap {
  background: white;
  border-radius: 5x;
  text-align: center;
  width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  position: relative;
}

/* 이미지 영역 */
.eventImgWrap img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* 버튼 영역 */
.eventBtnWrap {
  display: flex;
}

/* 버튼 스타일 */
.eventBtnWrap button {
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 50%;
}

.todayCloseBtn {
  background: #0b43f7;
  color: white;
}

.closeBtn {
  background: rgb(255, 255, 255);
  color: rgb(53, 53, 53);
}
