<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gothic+A1&family=Gowun+Dodum&family=Manrope:wght@200..800&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <h1>디테일 페이징</h1>
    <div class="detailWrap">
      <div><%= data[0].name %></div>
      <div>
        <img src="/public<%= data[0].image_url_1 %>" alt="Product Image" />
      </div>
      <div><%= data[0].price %></div>
      <div><%= data[0].description %></div>
    </div>
    <video
      src="https://songzio24.cafe24.com/25ss_cgs_web.mp4"
      preload="auto"
      muted="muted"
      autoplay="autoplay"
      loop="loop"
      style="width: 100%; height: 100%"
    ></video>
  </body>
</html>
