<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/footer.css" />
    <title>footer</title>
  </head>
  <body>
    <div class="footerDivWrap">
      <div class="footerInWrap">
        <h2>KIKIPOPO</h2>
        <ul>
          <li class="footerLiLeft">
            <div class="timeTexts">
              <p>MONDAY-FRIDAY</p>
              <p>11:00 - 18:00</p>
              <p>SAT HOLIDAY OFF</p>
              <p>BREAK TIME</p>
              <p>13:00-14:00</p>
            </div>
            <div class="callText">
              <p>고객센터</p>
              <p>1500-0000</p>
            </div>
          </li>
          <li class="footerLiRight">
            <ul class="icon">
              <li>
                <a href="http://www.instagram.com"
                  ><img src="/public/img/footer_icon_insta.png" alt="instagram"/
                  ></a
                >
              </li>
              <li>
                <a href="https://ko-kr.facebook.com/"
                  ><img src="/public/img/footer_icon_facebook.png"
                  alt="facebook"/ ></a
                >
              </li>
              <li>
                <a href="https://www.youtube.com/"
                  ><img src="/public/img/footer_icon_youtube.png" alt="youtube"/
                  ></a
                >
              </li>
            </ul>
          </li>
        </ul>
        <div class="addressText">
          <p>COPYRIGHT(C) 2025 KIKIPOPO</p>
          <p>
            COMPANY | INTERNATIONAL | OWNER | KIM EUN JU<br />
            CORPORATE REGISTRATION NUMBER | 229-00-00000
            <br />
            MALL ORDER LICENSE | 제 2025 - 서울 - 1234호 ADDRESS | 111,
            Gangnamdero-ro, Seoul, Republic of Korea<br />
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
