<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/header.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css"
    />
    <title>header</title>
  </head>
  <body>
    <div id="allWrap">
      <div class="headerWrap">
        <button class="menu-toggle">☰</button>
        <ul class="headerinLeft menu">
          <li>
            <a href="/products/main"><p>SHOP</p></a>
          </li>
          <li onclick="menualert()">
            <p class="colorYellow">OUTLET</p>
          </li>
          <li onclick="menualert()"><p>EVENT</p></li>
          <li onclick="menualert()"><p>ABOUT</p></li>
        </ul>
        <h1 class="headerinlogo">
          <a href="/products/main"><img src="/public/img/KIKI.png" /></a>
        </h1>
        <ul class="headerinRight">
          <li>
            <div>
              <img
                src="/public/img/sreach_icon.png"
                alt="search"
                onclick="menualert()"
              />
            </div>
          </li>

          <li>
            <div>
              <img
                src="/public/img/myshop_icon.png"
                alt="myshopping"
                onclick="menualert()"
              />
            </div>
          </li>
          <li>
            <div>
              <img
                src="/public/img/cart2_icon.png"
                alt="cart"
                onclick="menualert()"
              />
            </div>
            <span class="cartNumber">0</span>
          </li>
        </ul>
      </div>
    </div>
    <script src="/public/js/header.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
