<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/header.css" />
    <title>header</title>
  </head>
  <body>
    <div id="allWrap">
      <div class="headerWrap">
        <button class="menu-toggle">☰</button>
        <ul class="headerinLeft menu">
          <li><a href="">SHOP</a></li>
          <li><a href="" class="colorYellow">OUTLET</a></li>
          <li><a href="">EVENT</a></li>
          <li><a href="">ABOUT</a></li>
        </ul>
        <h1 class="headerinlogo">
          <a href="/index"><img src="/public/img/KIKI.png" /></a>
        </h1>
        <ul class="headerinRight">
          <li>
            <a href=""
              ><img src="/public/img/sreach_icon.png" alt="search"
            /></a>
          </li>
          <li>
            <a href=""
              ><img src="/public/img/myshop_icon.png" alt="myshopping"
            /></a>
          </li>
          <li>
            <a href=""><img src="/public/img/cart2_icon.png" alt="cart" /></a>
            <span class="cartNumber">0</span>
          </li>
        </ul>
      </div>
    </div>
    <script src="/public/js/header.js"></script>
  </body>
</html>
